.menu {
    // background-color: white;
    background: #f8f5f5;
    border-bottom: 1px solid #fff;
    .navbar.navbar-expand-sm.navbar-dark {
        display: flex;
        justify-content: space-between;
        background-color: rgb(248, 245, 245);
        // background-color: rgb(238, 216, 216);
        border-bottom: 1px dotted #f8fafc;
    }
    .nav-link {
        color: #333 !important;
    }
  
    .nav-item {
        padding: 0 10px 0 10px;
    }

    ul.items-hover {
        position: absolute;
        padding: 0;
        list-style: none;
        background: white;
        display: none;
    }
    ul.items-hover li {
        border-bottom: 1px dotted #333;
    }
    ul.items-hover li:last-child {
        border-bottom: 0px;
    }
    .nav-link:hover {
        color: red !important;
    }
    
    .dropdown:hover .items-hover {
        display: block;
    }

    a {
        font-size: 16px;
    }

    .searchInput {
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
        background-color: #fefefe;
        border: solid 1px #a7a7a7;
        padding: 8px 0 8px 15px;
        width: 100%;
    }

    .btnSearch {
        font-size: 0;
        border: none;
        width: 22px;
        height: 22px;
        position: absolute;
        right: 15px;
        top: 8px;
    }
    .hidden {
        display: none;
    }
    .search-menu {
        width: 650px;
    }
    .list-show, .list-nothing {
        width: 600px;
    }
    @media only screen and (max-width: 1024px) {
        .search-menu, .list-group-item, .search-results-dropdown {
            width: 550px;
        }
        .list-show, .list-nothing {
            width: 505px;
        }
    }
    @media only screen and (max-width: 991px) {
        .search-menu {
            width: 400px;
        }
        .twitter-typeahead {
            width: 70% !important;
        }
        .list-show, .list-nothing {
            width: 280px;
        }
    }
    @media only screen and (max-width: 768px) {
        .search-menu, .list-group-item, .search-results-dropdown {
            width: 280px;
        }
        .list-show, .list-nothing {
            width: 197px;
        }
    }
    @media only screen and (max-width: 425px) {
        .search-menu {
            width: 100%;
        }
        .list-show, .list-nothing {
            width: 100%;
        }
    }
    .nav-item.dropdown, #searchForm, #searchBtn {
        transition: all ease 0.6s;
        height: 41px;
    }
    #searchBtn {
        border: 0px;
    }
    .input-group-btn {
        background: red;
    }
    .twitter-typeahead {
        width: 92%;
    }
    .nav-item.dropdown {
        border-bottom: 0;
    }
    .nav-link.items-menu {
        border-bottom: 0;
    }
    .form-control.input-form:focus {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    .btn.btn-default {
        height: 100%;
    }

}

.page-footer {
    background: #f5f5f5;
    border-bottom: 1px solid #fff;
    .hashtag {
        color: red !important;
        background: #cbdded;
        box-shadow: inset 0 0 0 1px rgba(255,255,255,.12);
        text-shadow: 0 1px 0 rgba(255,255,255,.2);
        font-size: 1em!important;
        margin: 0 2px 5px 0;
        display: inline-block;
        padding: 7px 10px;
        text-decoration: none;
        line-height: 120%;
        border-radius: 2px;
    }
}
