.div-text {
	position: absolute;
	top: 65%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
	height: 30%;
	text-align: center;
	color: #fff;
}
.title {
	background: #E4E4E4;
	color: #444;
}
.text {
  margin-left: 90px;
}
